* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*index*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(https://thumbs.dreamstime.com/b/vista-de-cierre-fondo-papel-creativo-color-marr%C3%B3n-claro-imagen-extra-grande-y-muy-detallada-188862817.jpg); }

.fotopcpal {
  width: 100%;
  height: 100%;
  margin-top: 5px; }

/*footer*/
footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/091/660/non_2x/abstract-line-white-and-gray-color-modern-background-design-illustration-vector.jpg);
  background-size: cover; }

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto; }

.box__footer .terminos {
  width: 400px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px; }

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 30px; }
  .box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600; }
    .box__footer a:hover {
      opacity: 0.8; }
  .box__footer h2 {
    margin-top: 30px;
    color: #7a7a7a;
    font-weight: 700; }
  .box__footer .log img {
    width: 400px; }

.box__footer a bi {
  font-size: 20px; }

.bi-facebook::before {
  padding: 10px; }

.bi-instagram::before {
  padding: 10px; }

.bi-whatsapp::before {
  padding: 10px; }

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }
  .box__copyright p {
    margin-top: 20px;
    color: #7a7a7a; }

a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none; }

main {
  background: url("foto pag pcpal.jpg"); }

main {
  margin-top: 20px; }

.item {
  width: 450px;
  height: 350px; }

.video {
  margin-top: 20px;
  margin-block-end: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

@media (max-width: 480px) {
  .video {
    width: 95%;
    margin-top: 5px;
    margin-left: 10px; } }

@media (max-width: 480px) {
  .box__footer .terminos {
    width: 320px; }
  .box__footer .log img {
    width: 330px; } }

.mapa {
  margin-left: 3rem;
  margin-right: 1rem;
  width: 95%;
  height: 100%;
  margin-block-end: 1rem; }

@media (max-width: 2200px) {
  .evento {
    width: 85%;
    height: 20%;
    margin-left: 8rem;
    margin-top: 10px; } }

@media (max-width: 480px) {
  .mapa {
    margin-left: 0;
    width: 100%;
    height: 30%; }
  .evento {
    width: 95%;
    height: 80%;
    margin-left: 10px;
    margin-top: 5px; } }

/*galeria*/
.contenedor-galeria {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px; }

.galeria {
  width: 325px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  filter: brightness(60%);
  cursor: pointer; }
  .galeria:hover {
    filter: brightness(100%);
    transition: all 1.5s;
    transform: scale(1.06); }

/*reserva*/
.fondoreserva {
  background-image: URL("https://images7.alphacoders.com/600/thumb-1920-600594.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: monospace;
  max-width: 100%;
  height: auto; }

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 8px; }

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  opacity: .7; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: #31384a;
  color: white;
  padding: 20px;
  transition: all 1s; }
  #boton:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1); }

@media (max-width: 480px) {
  form {
    width: 100%; } }
