*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*index*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://thumbs.dreamstime.com/b/vista-de-cierre-fondo-papel-creativo-color-marr%C3%B3n-claro-imagen-extra-grande-y-muy-detallada-188862817.jpg);} 

.fotopcpal{
        width: 100%;
        height: 100%;
        margin-top:5px;
        }
/*footer*/
footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/091/660/non_2x/abstract-line-white-and-gray-color-modern-background-design-illustration-vector.jpg);
    background-size: cover;
    }
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
}
.box__footer .terminos{
    width: 400px;
    margin-top: 20px;
    font-weight: 500;
    color: $color;
    font-size: 18px;  
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 30px;
        a{
            margin-top: 10px;
            color: $color;
            font-weight: 600;
            &:hover{
                opacity: 0.8;
            }
        }
           
        h2{
            margin-top: $bordes;
            color:$color;
            font-weight: 700;    
        }
    
    .log img{
        width: 400px;
    }    
} 

.box__footer a bi{
    font-size: 20px;
}
.bi-facebook::before {
    padding: $paddface;
}
.bi-instagram::before{
    padding: $paddface;
}
.bi-whatsapp::before {
    padding: $paddface;
}
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    p{
        margin-top: $margens;
        color: $color;
    }
}
a{
    font-family: $letrafooter ;
    text-decoration: none;
}
main{
   background: url("foto pag pcpal.jpg");
   
}
main{
    margin-top: $margens;
}
.item{
    width: 450px;
    height: 350px;
}
.video{
    margin-top: 20px;
    margin-block-end: $margens;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}
@media (max-width:480px){
    .video{
        width: 95%;
        margin-top: 5px;
        margin-left: 10px;
        
    }
    
}
@media (max-width:480px){
    .box__footer .terminos{
        width: 320px;
    }
    .box__footer .log img{
        width: 330px;
    }
}
.mapa{
    margin-left: 3rem;
    margin-right: 1rem;
    width: 95%;
    height: 100%;
    margin-block-end: 1rem;
    
}
@media (max-width:2200px){
    .evento{
        width: 85%;
        height: 20%;
        margin-left: 8rem;
        margin-top: 10px;
        
    }
}
@media (max-width:480px){
    .mapa{
        margin-left: 0;
        width: 100%;
        height: 30%;
    }  
    .evento{
    
        width: 95%;
        height: 80%;
        margin-left: 10px;
        margin-top: 5px;
        
    }
}


