$color:#7a7a7a;
$opacidadlogo:  0.5;
$bordes:30px;
$anchofooter: 400px;
$letrafooter:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$margens:20px;

